<!doctype <!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Hang - Server</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
</head>
<body>
    <!-- <main>
        <img src="{{ url_for('static', filename = 'images/icon.png') }}" alt="icon">
        <h1>Hang - Server</h1>
    </main> -->
    <h1>Hang</h1>
    <style>
        body {
            background-color:#344E6C;
            margin: 0px; 
            color: white;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</body>
</html>